* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial;
    background: linear-gradient(180deg, #5882c2, #364f74 40%);
    color: #e5e7eb;
    padding: 16px;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.1rem;

}

/* Formulario */
#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fila-formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 10px 0px;
}

.fila-formulario > div {
    width: 400px;
}
form label {
    color: #94a3b8;
}

input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid rgba(148, 163, 184, .25);
    background: #0b1220;
    color: #e5e7eb;
}

.valido {
    outline: 2px solid rgb(29, 209, 29);;
}


.invalido {
    outline: 2px solid red
}

button:hover {
    filter: brightness(1.2);
}

.boton-principal {
    margin-top: 20px;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: #e5e7eb;
    border-color: rgba(59, 130, 246, .45);
    width: 100%;
    font-size: 1.2rem;
    background: linear-gradient(180deg, #111f36, #122242);
}

.oculto {
    display: none !important;
}

.mensaje-error {
    font-size: 0.8em;
    color: red;
    margin-top: 4px;
    display: none;
}

button:disabled  {
    opacity: 0.6;
    cursor: not-allowed;
}

.info-msg {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #213547;
    color: #a5f3fc;
    text-align: center;
    font-size: 1rem;
}   